<script>
	function initialize() {
	  var mapOptions = {
	    zoom: 10
	  };
	  map = new google.maps.Map(document.getElementById('map-canvas'),
	      mapOptions);

	  google.maps.event.addListener(map, 'click', function(e) {
	    placeMarker(e.latLng, map);
	  });

	  // Try HTML5 geolocation
	  if(navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(function(position) {
	      var pos = new google.maps.LatLng(position.coords.latitude,
	                                       position.coords.longitude);

	      // var infowindow = new google.maps.InfoWindow({
	      //   map: map,
	      //   position: pos,
	      //   content: 'Location found using HTML5.'
	      // });

	  //   	var marker = new google.maps.Marker({
			//     position: pos,
			//     title:"Hello World!"
			// });

			// // To add the marker to the map, call setMap();
			// marker.setMap(map);
			
	      map.setCenter(pos);
	    }, function() {
	      handleNoGeolocation(true);
	    });
	  } else {
	    // Browser doesn't support Geolocation
	    handleNoGeolocation(false);
	  }
	}
	function handleNoGeolocation(errorFlag) {
	  if (errorFlag) {
	    var content = 'Error: The Geolocation service failed.';
	  } else {
	    var content = 'Error: Your browser doesn\'t support geolocation.';
	  }

	  var options = {
	    map: map,
	    position: new google.maps.LatLng(60, 105),
	    content: content
	  };

	  var infowindow = new google.maps.InfoWindow(options);
	  map.setCenter(options.position);
	}
	function placeMarker(position, map) {
			  var marker = new google.maps.Marker({
			    position: position,
			    map: map
			  });
			  map.panTo(position);
			}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>

<body>
	<div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                  	
                  </a>
              </li>
              <li>
              	<h4 id="school-name"></h4>

              </li>
              <li>
                  <h3><!-- <i class="fa fa-map-marker"></i> --> <%= link_to "Report Now", new_report_path %>
              </li>

              <li>
                  <h3><a href="#"><span class="glyphicon glyphicon-time"></span> Filter Time</a></h3>
              </li>

              <li>
                  <h3><a href="#"><span class="glyphicon glyphicon-calendar"></span> Filter Dates</a></h3>
              </li>

              <li>
                  <h3><a href="#"><span class="glyphicon glyphicon-filter"></span> Filter Type</a></h3>
              </li>

              <% if user_signed_in? %>
              <li>
                  <h4><a hred="#"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </a><h4>
              </li>
              <% else %>

              <li>
                  <h4><a href="#"> <%= link_to "Sign up", new_user_registration_path %> </a></h4>
              </li>

              <li>
                <h4><a href="#"> <%= link_to "Sign In", new_user_session_path %> </a></h4>
              </li>
              <% end %>
              <!-- <li>
                  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
              </li> -->

          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row" id="map">
                  <div class="col-md-12">
                  	<div id="map-canvas"></div>

                  </div>
              </div>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
</body>
</html>