/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-family: 'Lato', sans-serif;
}

#wrapper, #page-content-wrapper, .container-fluid, .row#map, .col-md-10, .col-md-12  {
	height:100%;
}


div#page-content-wrapper {
	background-color: #363636;
}

h2#school-name {

	color:#fff !important;
	text-align: center;
	text-shadow: 5px 2px #121212;
	margin-bottom: 2%;
}


#api-wrapper {
    width:900px;
    margin: 0px auto;

}

.report_container {
	margin-top:6%;
}